@import './styles/variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;

  /* make default size = 10px */
  font-size: 62.5%;
}
body {
  background: $Remy-Martin-KV-illustration-beige;
  background-image: url('../public/notebook-dark.png');
}