/* Color Theme Swatches in RGBA */
$Remy-Martin-KV-illustration-green: rgba(65,89,15, 1);
$Remy-Martin-KV-illustration-yellow: rgba(242,201,79, 1);
$Remy-Martin-KV-illustration-beige: rgba(242,230,196, 1);
$Remy-Martin-KV-illustration-rosepink: rgba(242,168,125, 1);
$Remy-Martin-KV-illustration-5-red: rgba(216,72,19, 1);