@import 'variables';

.create-post {
  position: relative;
  max-width: 800px;
  margin: 50px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 10px 10px rgb(241, 179, 129);
  
  input,
  textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 2em;
    font-family: inherit;
    resize: none;
  }

  button {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: $Remy-Martin-KV-illustration-5-red;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;

    &:hover {
      background-color: brown;
    }
  }
}