.link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin: 2rem;
    font-size: 3rem;
  }
  p {
    font-size: 2rem;
  }

  input {
    font-size: 2rem;
    margin: 2rem;
  }

  button {
    font-size: 2rem;
    background-color: #f5f5f5;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
    margin: auto;
    margin-bottom: 4rem;
  }

  .link-form {
    display: flex;
    flex-direction: column;
  }

  .link-verification-form {
    display: flex;
    flex-direction: column;
  }
}