.note-container {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;

  h2 {
    font-size: 2em;
    margin-bottom: 6px;
  }

  p {
    font-size: 1.5em;
    margin-bottom: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      color: #f5ba13;
      border: none;
      width: 60px;
      height: 36px;
      cursor: pointer;
      outline: none;
      background-color: transparent;

      .edit-icon {
        font-size: 2em;
      }

      .delete-icon {
        font-size: 2em;
      }
    }
  }
}