@import 'variables';

/* Styles for the ToTa container */
.ToMe-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  h2 {
    font-size: 4rem;
    margin: 2rem;
    text-align: center; /* Center the title */
  }

  .posts-container {
    display: flex;
    flex-direction: column;
  }

  .post {
    padding: 15px;
    border-bottom: 2px solid $Remy-Martin-KV-illustration-green; /* Border line */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */

    h3 {
      font-size: 3rem;
      margin-bottom: 10px;
    }

    .content {
      font-size: 3rem;
      text-align: center; /* Center the content */
      margin-bottom: 2rem;
    }

    .date {
      color: #999;
      font-size: 2rem;
    }
  }
}